.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-image: url();
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    margin-bottom: 10px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form a {
    text-decoration: none;
    color: #3498db;
    margin-top: 10px;
    
  }
  
  @media (max-width: 480px) {
    .login-form {
      padding: 10px;
    }
  }
  