.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.homepage h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.logout{
  margin-left: 80%
}

.btns{
  display: flex;
}

.btn1{
  border: none;
  background-color: rgb(111, 151, 242);
}

.btns > button{
  border-radius: 5px;
}

.pay-bt{
  background-color: rgb(255, 128, 0);
  
  
}
.pay-bt:hover{
  background-color: rgb(255, 111, 0);
}

.payment-card{
  width: 95%;
  background-color: rgb(22, 128, 249);
  padding-top: 20px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 5px 5px rgb(219, 215, 215);
  margin-bottom: 10px;
  color: white;
  
  
  
}

.homepage button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .homepage h1 {
    font-size: 20px;
  }
  
  .homepage button {
    font-size: 14px;
  }
}
