.register-body {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(208, 160, 255);
    border-radius: 10px;
  }
  
  .register-body form {
    display: flex;
    flex-direction: column;
  }
  
  .register-body label {
    margin-bottom: 10px;
  }

  .main-register{
    background-image: url("https://media.istockphoto.com/id/913879566/photo/digital-fingerprint-on-black-screen.jpg?s=612x612&w=0&k=20&c=Ux4M7S97UgQ9qHrLNEHRHh0yjz1ToQZ64UDraKVa4M0=");
    padding-top:10%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 864px;
  }
  
  .register-body input[type="text"],
  .register-body input[type="email"],
  .register-body input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .embut{
    width: 100%;
  }

  .register-body button[type="submit"] {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  @media (max-width: 480px) {
    .register-body {
      padding: 10px;
    }
  }
  